* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

.navbar {
    margin: 20px;
    padding: 20px;
    background: gray;
    justify-content: center;
}

.nav-items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: burlywood;
}