/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr; /* Navbar, Filtros, Contenido Principal */
    gap: 10px; /* Espaciado entre secciones */
}

/* Navbar */
.navbar {
    background: black;
    padding: 1rem;
}

.nav-items {
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 2rem;
    list-style: none;
}

.nav-items li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-items li a:hover {
    color: burlywood;
}

main {
    margin: 20px;
}


/* Filtros */
.filters {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: white;
    margin: 0 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-tecnologias {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 20px;
}

.filter-services {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 20px;
}

.search-box {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: whitesmoke ;
}

.search-box1 {
    grid-column: 1;
    border: whitesmoke;
    background: whitesmoke;
}

.search-button {
    grid-column: 2;
    cursor: pointer;
}

.actions {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    margin: 20px;
    justify-self: center;
}

.add-button, .edit-button {
    cursor: pointer;
}

/* Cards */ 

.cards {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
    margin: 20px 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 8px 20px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-img {
    grid-column: 1;
    height: 5rem;
    margin: 20px;
    align-self: center;
    justify-self: center;
}

.card-description {
    grid-column: 2;
    align-self: center;
}