/* Child Combinator */

.container > p {
    font-weight: bold;
    margin-bottom: 10px;
}


.container > ul {
    list-style: none;
}

.container > a {
    color: red;
}


/* Immediate a after h1 */

.container h1 + a {
    color: green;
    font-weight: bold;
}

/* All a below h1 */

.container h1 ~ a {
    color: purple;
}

/* Pseudo Elements */ 

p::first-letter {
    font-size: 2rem;
    color: rebeccapurple;
    padding-right: 2px;
    font-weight: bold;
}

p::first-line {
    color: purple;
}

p::selection {
    color: red;
    background: yellow;
}

input:required {
    border-color: red;
}

input[required] {
    background: #f4f4f4;
}

input::placeholder {
    color: purple;
    font-weight: bold;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    background: #fff;
    padding: 0.5rem;
    border: thin solid gray;
    border-radius: 3px;
}

li::marker {
    content: '**';
}

/* input::file-selector-button {} */ 
 
ul li:nth-of-type(even) {
    font-weight: lighter;
    color: red;
}

ul li:nth-of-type(odd) {
    font-weight: lighter;
    color: blue;
}

p:nth-of-type(2) {
    font-weight: bold;
}

p:nth-child(1) {
    color: yellow;
}

/* Before and After elements */ 


h1::before {
    content: 'Welcome';
    color: red;
}

